.table-jeopardy {
  background-color: blue;
  border-collapse: collapse; 
  color: white; 
  width: 100%; 
}

/* Style for each cell in the table */
.table-jeopardy td, .table-jeopardy th {
  border: 1px solid white; 
  padding: 10px; 
  text-align: center; /* Center-align text */
}

/* Style for the header row */
.table-jeopardy th {
  background-color: #060ce9; 
}
.green-background {
  background-color: #28a200;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-left-color: #09f;
  animation: spin 1s ease infinite;
  position: fixed; 
  top: 50%;
  left: 50%;
  margin-top: -20px; 
  margin-left: -20px; 
  display: none; /* Hide spinner initially */
}

 @keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
.table-jeopardy {
  width: 900px; 
  table-layout: fixed; /* Table layout is fixed */
}
.table-jeopardy td {
  vertical-align: middle; /* Align text to the middle vertically */
}
.container-model-inner {
  display: none;
}
#jeopardy-title {
  color: white;
}
body {
  background-color: #115ff4;
}
#start-btn {
  background-color: #8d2ab5; 
  color: white; 
  border: none; 
  padding: 10px 20px; 
  border-radius: 5px; 
  cursor: pointer; 
}

/* Style for disabled button */
#start-btn:disabled {
  background-color: darkgray;
  cursor: default;
}
